
/* Your CSS Code here. */
.item-1{
	display: flex;
	width: 100px;
	height: 100px;
	background-color: red;
	text-align: center;
	/* justify-items: center; */
}
.holder{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}